@import '~antd/dist/antd.dark.less'; // 引入官方提供的暗色 less 样式入口文件
@import '~antd/dist/antd.compact.less'; // 引入官方提供的紧凑 less 样式入口文件


.ant-collapse {
    font-size: 13px;
}
.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    font-size: 14px;
}

.editor .CodeMirror {
    /* Set height, width, borders, and global font properties here */
    height: 400px;

  }

.editor .CodeMirror-scroll, .input .CodeMirror-scroll {
    overflow: hidden !important;
  }

.editor .CodeMirror-simplescroll-horizontal, .editor .CodeMirror-simplescroll-vertical, .input .CodeMirror-simplescroll-horizontal, .input .CodeMirror-simplescroll-vertical {
    background: #949494;
}


.editor .CodeMirror-simplescroll-horizontal div, .editor .CodeMirror-simplescroll-vertical div, .input .CodeMirror-simplescroll-horizontal div, .input .CodeMirror-simplescroll-vertical div {
  background: #47413a;
}


.input .CodeMirror {
    /* Set height, width, borders, and global font properties here */
    height: 200px;
  }


  .reshint {
    background-color: '#222222';
    opacity: 0.8;
    width: 100%
  }

  SmileOutlined {
    font-size: 30px;
  }

.course {
  padding: 15px;
  padding-top: 0px;
}

.edi_inp {
  padding: 0 15px;
}

.ant-pro-sider {
  display: none;
}

#root > div > section > div:nth-child(1) {
  display: none;
}

.ant-result {
  padding: 27px 0px;
}

.info > div.ant-collapse-header {
  background-color: #1890ff94;
}

.warning > div.ant-collapse-header {
  background-color: #faad1494;
}

.error > div.ant-collapse-header {
  background-color: #ff4d4f94;
}


div.ant-result-subtitle > div {
   font-size: 15px;
 }

 .ck-editor__editable {
  min-height: 500px;
}

.ck-editor__editable .ck-editor__nested-editable {
  min-height: 50px;
}

.ck.ck-editor__main>.ck-editor__editable{
  background: transparent;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border-color: transparent;
}
